<%- include('cab_pie/cabecera'); -%>

<h1>PESCADERÍA ONLINE</h1>
<h2>Pescadería a domicilio</h2>
<h3>Compra de pescados y mariscos</h3>
<P>
<h2>TEMA 6: Formularios y CRUD</h2>
<p>
<h3>JUAN JOSÉ MUR GARCIA</h3>
<p>Grupo: 2º ASIR / GBDLI</p>
<p>IES Punta del Verde, Sevilla</p>

</body>
</html>
